<form action="/" method="post">
    <div class="field">
        <input type="text" placeholder="Username" class="input-field" name="name" required>
    </div>
    <div class="field">
        <input type="email" placeholder="Email" class="input-field" name="email" required>
    </div>
    <div class="field">
        <input type="text" placeholder="Mobile number" class="input-field" name="mnum">
    </div>
    <div class="field">
        <input type="password" placeholder="Password" class="input-field" name="password">
    </div>
    <div class="field">
        <input type="password" placeholder="Confirm Password" class="input-field" name="confpassword">
    </div>
    <div class="field button-field">
        <button type="submit">Signup</button>
    </div>
</form>
<div class="form-link">
    <span>Already have an account? <a href="/login" class="login-link">Login</a></span>
</div>