<form action="/login" method="post">
    <div class="field">
        <input type="text" placeholder="Username" class="input-field" name="username" required>
    </div>
    <div class="field">
        <input type="password" placeholder="Password" class="input-field" name="password" required>
    </div>
    <div class="field button-field">
        <button type="submit">Sign in</button>
    </div>
</form>
<div class="form-link">
    <span>Don't have an account? <a href="/" class="signup-link">Signup</a></span>
</div>